// Colors
$primary-color: #2767b0;
$secondary-color: rgb(191, 190, 196);
$accent-color: lightgrey;
$text-color: black;
$select-color: #3b7cc7;
$select-text-color: lightgrey;

// Variable Colors for results.
$correct-color: #10561a;
$incorrect-color: rgb(163, 28, 28);
$correction-color: #296b33;
$correct-text-color: lightgrey;
$incorrect-text-color: black;
// $background-color: white;

// Fonts
$default-font-size: 1rem;

// Linear Gradient:
$linear-gradient: linear-gradient(115deg, #c568ff 0%, #6e91f6);

// Spacing
$marginSmall: 6px;
$marginMedinum: 10px;
